{% extends "base_generic.html" %}

{%block content %}


{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load bootstrap3 %}

<h1>Discovery</h1>

{% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>
{% endif %}


<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    </head>
    <body>
        {% render_table table %}
    </body>
<a href="{% querystring '_export'='csv' %}" class="btn btn-primary" role="button" aria-pressed="true">Download CSV</a>
</html>


{% endblock %}

