.export{
background: #0d6efd;
color: #fff;
border: 1px solid transparent;
}
.editing-columns-button{
background: #0d6efd;
color: #fff;
border: 1px solid transparent;
}

.reset-button{
background: #0d6efd;
color: #fff;
border: 1px solid transparent;
}
.show-hide{
background: #0d6efd;
color: #fff;
border: 1px solid transparent;
}







