{% extends "base_generic.html" %}

{% block content %}
{% load bootstrap3 %}

  
                    <form method = 'POST' class="form form-inline">
                      {% csrf_token %}
                          {{form.as_p}}
                    
                    <button >Submit </button>
                    </form>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    </head>
    <body>
     {% autoescape off %}
        {{ plot_div }}
     {% endautoescape %}
    </body>
</html>



{% endblock %}


